{% extends 'base.html' %}
{% block content %}
<a href="{{ url_for('add_book') }}">➕ เพิ่มหนังสือ</a>
<table border="1" cellpadding="5" cellspacing="0">
    <tr>
        <th>ชื่อหนังสือ</th>
        <th>ผู้แต่ง</th>
        <th>ปีที่พิมพ์</th>
        <th>หมวดหมู่</th>
        <th>จัดการ</th>
    </tr>
    {% for book in books %}
    <tr>
        <td>{{ book[1] }}</td>
        <td>{{ book[2] }}</td>
        <td>{{ book[3] }}</td>
        <td>{{ book[4] if book[4] else '-' }}</td>
        <td>
            <a href="{{ url_for('edit_book', id=book[0]) }}">แก้ไข</a> |
            <a href="{{ url_for('delete_book', id=book[0]) }}">ลบ</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
